<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
        <div class="continer" style="text-align: center">


            {% include 'navbar.html' %}

                <h1>Welcome to our PhotoReview</h1>

                <form action="/index/" method="POST">
                    {% csrf_token %}
                    <input type="checkbox" value="True" name="check">
                    <button>send</button>
                </form>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam maxime est dolorem possimus iusto, dolor ab porro facilis architecto fuga adipisci harum ea? Asperiores ea alias quo nisi autem deleniti, sapiente obcaecati quasi ducimus facilis ullam reprehenderit quia modi laboriosam ut impedit consequatur pariatur hic illo delectus eum rem.</p>
                <button>contact US</button>

                <!-- accessing dynamic values -->

                {% if isActive %}
                <div>
                    <h1>Todays date is {{date}}</h1>
                    <h1>Review With Sanket</h1>
                    <hr>
                    <h1>Client Data</h1>
                    <h2>Client Name : {{Client_data.Client_name}}</h2>
                    <h2>Client Address : {{Client_data.Client_college}}</h2>
                    <h2>Client City : {{Client_data.Client_city}}</h2>
                    <hr>
                    <h1>Favorite Photos</h1>
                    
                    {% for p in list_of_programs %}

                    <h3>{{p}}</h3>

                    {% endfor %}

                </div>
                {% endif %}

        </div>
</body>
</html>